<header>
    <nav>
        <a href="/" class="logo"><img src="/static/img/branding/favicon.png" alt="YouTube Direct logo" height="36px" />YouTube Direct</a>
        <a href="/" class="active"><%= header.downloader %></a>
        <a href="/about"><%= header.about %></a>
    </nav>
</header>